<div class="container">
<br>
<div class="top-index">
  <div class="top-index_body">
    <div class="top-index_explanation">
      <h2>好きなアニメについて話したい人が交流できる場所</h2>

      <p>Animexはあなたが見ているアニメについて話す場所です。</p><br>
      <p>アニメ好きが繋がりを構築できる場所を提供することが目的のアプリです。</p><br>
      <p>トピックごとにコメントを行うことができる。</p><br>
      <p>遠く離れた同じ趣味を持つ仲間と出会い、盛り上がりましょう！</p><br>
    </div>
    <div class="top-index_slideshow">
      <div class="box top-index_slideshow_box">
        <div class="bgImg src1"></div>
        <div class="bgImg src2"></div>
        <div class="bgImg src3"></div>
        <div class="bgImg src4"></div>
        <div class="bgImg src5"></div>
        <div class="bgImg src6"></div>
      </div>
    </div>
  </div>
</div>