@import "bootstrap";
@import "comments";
@import "favorites";
@import "relationships";
@import "sidebar";
@import "topics";
@import "tops";
@import "users";

.topic_content {
  display: flex;
  justify-content: center;
  // top: 60%;
  // left: 30%;
  // transform: translateY(-50%);
}

body {
  padding-bottom: 60px;
  height: 100ch;
}
.mw-md {
  max-width: 576px;
}

.mw-xl {
  max-width: 1200px;
}

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.topic_show.content {
  margin-left: 260px;
  padding: 40px 10px; 
  text-align: center;
}

.index_container {
  margin-left: 260px;
  padding: 40px 10px; 
}

#comment_content{
  background-color: rgb(202, 245, 234);
}

li{
  list-style: none;
}

.topic_content td img {
  width:100%;
  height:auto;
}

element.style {
  margin:0 auto;
}

.topic_all {
  text-align: center;
}

.topic_content {
  margin-bottom: 10%;
}

.topic_search {
  margin-bottom: 20px;
}
