@import "bootstrap";
@import "./comments.scss";
@import "./favorites.scss";
@import "./relationships.scss";
@import "./sidebar.scss";
@import "./topics.scss";
@import "./tops.scss";
@import "./users.scss";

body {
  padding-bottom: 60px;
}
.mw-md {
  max-width: 576px;
}

.mw-xl {
  max-width: 1200px;
}

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.topic_show.content {
  margin-left: 260px;
  padding: 40px 10px; 
}

.index_container {
  margin-left: 260px;
  padding: 40px 10px; 
}

#comment_content{
  background-color: rgb(202, 245, 234);
}

li{
  list-style: none;
}