<div class="listings">
  <div class="listings_channels">
    <h4>Menu</h4>
    <ul class="channel_list">
      <br>
      <br>
        <li><%= sidebar_link_item('Topic一覧', topics_path) %></li>
      <br>
      <br>
        <li><%= sidebar_link_item('新規投稿', new_topic_path) %></li>
      <br>
      <br>
        <li><%= sidebar_link_item('お気に入り一覧', favorites_path) %></li>
      <br>
      <br>
        <li><%= sidebar_link_item('Myプロフィール', user_path(current_user.id)) %></li>
      <br>
      <br>
    </ul>
  </div>
</div> 